/tmp
/pkg
/releases
/deb
/rpm
/vendor/bundle
/vendor/pkg
.bundle
.envrc
/.agent.conf
/.agent.*.conf
/.buildkite-agent.cfg
/.vagrant
packaging/docker/*/buildkite-agent
packaging/docker/*/hooks/

.idea
.vscode
