/tmp
/pkg
/releases
/deb
/rpm
/vendor/bundle
/vendor/pkg
.bundle
.envrc
/.agent.conf
/.agent.*.conf
/.buildkite-agent.cfg
/.vagrant
packaging/docker/alpine-linux/buildkite-agent
packaging/docker/ubuntu-linux/buildkite-agent
