.DS_Store

/tmp
/pkg
/releases
/deb
/rpm
/vendor/bundle
/vendor/pkg
.bundle
.envrc
/.agent.conf
/.agent.*.conf
/.buildkite-agent.cfg
/.vagrant
packaging/docker/*/buildkite-agent
packaging/docker/*/hooks/

# Generated at build time by scripts/generate-acknowledgements.sh
/clicommand/ACKNOWLEDGEMENTS.md.gz

# So we can have a nice local config file in development
.buildkite-agent.cfg

.idea

# Editor config boils down to personal preference
.editorconfig

# Bazel-generated symlinks to Bazel-generated output
/bazel-agent
/bazel-bin
/bazel-out
/bazel-testlogs
