#!/usr/bin/env bash

# The `post-artifact` hook will run just after artifacts are uploaded

# Note that as the script is sourced not run directly, the shebang line will be ignored
# See https://buildkite.com/docs/agent/v3/hooks#creating-hook-scripts

set -e
