[Unit]
Description=Buildkite Agent
Documentation=https://buildkite.com/agent
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/buildkite-agent start --config /etc/init/buildkite-agent/buildkite-agent.cfg
RestartSec=5
Restart=on-failure
TimeoutSec=10

[Install]
WantedBy=multi-user.target
