<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  A launchd config for loading buildkite-agent on system boot on OS X
  systems, and runs without GUI (which starts on system boot, but doesn't allow Xcode UI testing)
-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.buildkite.buildkite-agent</string>

    <key>UserName</key>
    <string>your-build-user</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/your-build-user/.buildkite-agent/bin/buildkite-agent</string>
      <string>start</string>
      <!-- <string>--debug</string> -->
    </array>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>OnDemand</key>
    <false/>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>SessionCreate</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>30</integer>

    <key>StandardOutPath</key>
    <string>/Users/your-build-user/.buildkite-agent/log/buildkite-agent.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/your-build-user/.buildkite-agent/log/buildkite-agent.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>

      <key>BUILDKITE_AGENT_CONFIG</key>
      <string>/Users/your-build-user/.buildkite-agent/buildkite-agent.cfg</string>
    </dict>
  </dict>
</plist>
