# The token from your Buildkite "Agents" page
token="xxx"

# The name of the agent
name="%hostname-%n"

# The priority of the agent (higher priorities are assigned work first)
# priority=1

# Tags for the agent (default is "queue=default")
# tags="key1=val2,key2=val2"

# Include the host's EC2 meta-data (instance-id, instance-type, and ami-id) as tags
# ec2=true

# Include the host's EC2 tags as tags
# ec2-tags=true

# Include the host's Google Cloud meta-data (instance-id, machine-type, preemptible, project-id, region, and zone) as tags
# gcp=true

# Path to the bootstrap script. You should avoid changing this file as it will
# be overridden when you update your agent. If you need to make changes to this
# file: use the hooks provided, or copy the file and reference it here.

# DEPRECATION: As of v3 we've removed the shell version of bootstrap.sh file.
# We've re-written it in Go so we can have better cross-platform support, and
# add new features such as plugin support - which is much harder to write in
# bash. You can still use your own custom bootstrap-script now, and that feature
# will stick around for v3.x, so if you need to use it, just uncommment the line
# below :)
# bootstrap-script="/path/to/custom/bootstrap.sh"

# Path to where the builds will run from
build-path="/var/lib/buildkite-agent/builds"

# Directory where the hook scripts are found
hooks-path="/etc/buildkite-agent/hooks"

# When plugins are installed they will be saved to this path
plugins-path="/etc/buildkite-agent/plugins"

# Flags to pass to the `git clone` command
# git-clone-flags=-v

# Flags to pass to the `git clean` command
# git-clean-flags=-fdq

# Do not run jobs within a pseudo terminal
# no-pty=true

# Don't automatically verify SSH fingerprints
# no-automatic-ssh-fingerprint-verification=true

# Don't allow this agent to run arbitrary console commands
# no-command-eval=true

# Enable debug mode
# debug=true

# Don't show colors in logging
# no-color=true
