# The token from your Buildkite "Agents" page
token="xxx"

# The name of the agent
name="%hostname-%n"

# The priority of the agent (higher priorities are assigned work first)
# priority=1

# Tags for the agent (default is "queue=default")
# tags="key1=val2,key2=val2"

# Path to the bootstrap command.
bootstrap-script="buildkite-agent.exe bootstrap"

# Path to where the builds will run from
build-path="builds"

# Directory where the hook scripts are found
hooks-path="hooks"

# Directory where plugins will be installed
plugins-path="plugins"

# Flags to pass to the `git clone` command
# git-clone-flags=-v

# Flags to pass to the `git clean` command
# git-clean-flags=-fdq

# Don't automatically verify SSH fingerprints (2.2 and above with `buildkite bootstrap`)
# no-automatic-ssh-fingerprint-verification=true

# Don't allow this agent to run arbitrary console commands (2.2 and above with `buildkite bootstrap`)
# no-command-eval=true

# Enable debug mode
# debug=true
